/* All register page */
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 10%;
    background-color: #4dbeff;
}

/* contrain */
.contrain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    height: 800px;
}

/* all - contrain */
.all-content {
    display: inline;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #4dbeff;
}

/* content menu */
.content-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
}

/* chat */
.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* stats */
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* profile */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-menu img {
    width: 60px;
    height: 60px;
}

/* Box Chat Bot */
.chatbot {
    height: 80%;
    width: 100%;
}

/* content */
.content {
    height: 85%;
    width: 100%;
    overflow: auto;
}

/* box message ai */
.message-ai, .message-user{
    display: flex;
    padding: 15px 0px 15px 0px;
    mix-blend-mode: multiply;
    width: 93%;
}

.message-ai {
    justify-content: flex-start;
    padding-left: 2%;
    padding-right: 5%;
}

.message-user {
    justify-content: flex-end;
    padding-left: 5%;
    padding-right: 2%;
}

/* image */
.box-img {
    display: flex;
    justify-content: center;
    align-items: end;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-ai img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* bubble */
.message-ai .bubble {
    background-color: #5fc4ff;
    border-radius: 10px 10px 10px 0px;
    padding: 15px 15px 15px 15px;
    /* width: 80%; */
}

.message-user .bubble {
    background-color: rgb(164, 164, 164);
    border-radius: 10px 10px 0px 10px;
    padding: 15px 15px 15px 15px;
    /* width: 80%; */
}

/* name and time */
.bubble .info {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}

.info .name {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}
.info .time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble .text {
    font-size: 18px;
}

/* bottom */
.input-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.microphone {
    display: flex;
    mix-blend-mode: multiply;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#recordAudio {
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: white;
}

.microphone img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    z-index: -1;
    mix-blend-mode: multiply;
}

/* tablet and moblie*/
@media only screen and (max-width: 820px) {
    .contrain {
        width: 100vw; 
        height: 100vh; 
        margin: 0; 
        padding: 0; 
        overflow: hidden; 
    }

    .all-content {
        width: 100%; 
        height: 100%; 
    }

    .content-menu {
        width: 60%;
    }

    .content-menu img {
        width: 45px;
        height: 45px;
    }
}


